@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "_Login";
}

<div class="container" style="margin-top: 50px;" data-aos="fade-up">
    <div class="row justify-content-center">
        <div class="col-md-8 login-container p-4">
            <h1 class="text-center" style="color: #333;">Check Your Inbox</h1>
            <hr />
            <div class="alert alert-info text-center" role="alert" style="font-size: 1.2rem;">
                A password reset link has been sent to your email. Please check your inbox.
            </div>
            <div class="text-center">
                <a href="https://mail.google.com/mail/u/0/#inbox" class="btn btn-primary btn-lg" target="_blank">
                    Go to Your Inbox
                </a>
            </div>
        </div>
    </div>
</div>