@model ForgetPasswordVM

@{
    ViewData["Title"] = "Forget Password";
    Layout = "_Login";
}

<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Reset your password</h3>

                        <form asp-action="SendEmail">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" asp-for="Email" style="text-align: left; width: 100%;">Email</label>
                                <input asp-for="Email" class="form-control form-control-lg" placeholder="Enter your email" />
                                <span asp-validation-for="Email" class="text-danger" style="display: block; text-align: left;"></span>
                            </div>

                            <!-- Submit button -->
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Send Reset Link</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
