@model ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Login";
}

<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Reset your password</h3>

                        <form asp-action="ResetPassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" asp-for="Password" style="text-align: left; width: 100%;">New Password</label>
                                <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Enter new password" />
                                <span asp-validation-for="Password" class="text-danger" style="display: block; text-align: left;"></span>
                            </div>

                            <!-- Confirm Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" asp-for="ConfirmPassword" style="text-align: left; width: 100%;">Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="Confirm your new password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger" style="display: block; text-align: left;"></span>
                            </div>

                            <!-- Reset button -->
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Reset Password</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
